@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.VentaProduccion

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous">

<div class="card" style="width: 100%;">
    <div class="card-divider" id="title">
        Editar
    </div>

    <div class="card-section">

        <form method="post">
            <div>
                <div>
                    <div>
                        <label>Fecha de Venta</label>
                        <input asp-for="Fecha" type="date">

                        <span asp-validation-for="Fecha" class="text-danger"> </span>
                    </div>
                    <label>Destino de Venta</label>
                    <select asp-for="Destino">
                        <option class="NombreId">Quesero</option>
                        <option class="NombreId">Empresa G</option>
                    </select>
                    <span asp-validation-for="Destino" class="text-danger"> </span>

                </div>
                <div>

                    <label>Litros de Leche</label>
                    <input asp-for="Cantidad" type="number">

                    <span asp-validation-for="Cantidad" class="text-danger"> </span>
                </div>
                <div>
                    <label>Costo</label>
                    <input asp-for="Precio" type="number">

                    <span asp-validation-for="Precio" class="text-danger"> </span>
                </div>
                <input style="background-color: #65d1a9;" value="Registrar" type="submit" class="button small"
                       asp-action="Editar" asp-controller="RegistrarVenta" />

            </div>
        </form>



    </div>

</div>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />

}


}