@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.VentaProduccion

            <div class="card">
                <div class="card-header" id="title" style="background-color:#68B2A0; color:white">
                    Registrar Venta de Leche
                </div>
                <div class="card-body">

                    <form method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Fecha" type="date" class="form-control" id="Fecha">
                            <label for="Fecha">Fecha de Venta</label>
                            <span asp-validation-for="Fecha" class="text-danger"> </span>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="Destino" id="Destino">
                                <option class="NombreId">Quesero</option>
                                <option class="NombreId">Empresa G</option>
                            </select>
                            <label for="Destino">Destino de Venta</label>
                            <span asp-validation-for="Destino" class="text-danger"> </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Cantidad" type="number" min=0 id="Cantidad">
                            <label for="Cantidad">Litros de Leche</label>
                            <span asp-validation-for="Cantidad" class="text-danger"> </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Precio" type="number" id="Precio">
                            <label for="Precio">Costo</label>
                            <span asp-validation-for="Precio" class="text-danger"> </span>
                        </div>
                        <div>
                            <input id="boton" class="btn btn-success" style="background-color: #65d1a9;" value="Registrar" type="submit"
                                   asp-action="Editar" asp-controller="RegistrarVenta" />
                        </div>
                    </form>

                </div>
            </div>


@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />

}


}