@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.EventoAnimal
@{
    IEnumerable<Animal> animales = ViewBag.Animales;
  
}


<div class="card" style="width: 100%;">
                <div class="card-header text-white" id="title" style="background-color:#68B2A0;">
                    Registrar Salud del Ganado
                </div>
                <div class="card-body">
                    <form method="post">
                        <div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="animal" asp-for="IdAnimal">
                                    @foreach (var animal in animales)
                                    {

                                        <option class="NombreId" value="@animal.Id">@animal.Nombre</option>

                                    }
                                </select>
                                <label for="animal">Animales</label>
                                <span asp-validation-for="IdAnimal" class="text-danger"> </span>
                            </div>



                            <div class="form-floating mb-3">
                                <select class="form-select" id="estado" asp-for="Detalles">
                                    <option class="NombreEvento" value="Vacuna">Vacuna</option>
                                    <option class="NombreEvento" value="Enfermedad">Enfermedad</option>
                                </select>
                                <label for="estado">Estado</label>
                                <span asp-validation-for="Detalles" class="text-danger"> </span>
                            </div>




                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="fecha" asp-for="Fecha">
                                <label for="fecha">Fecha</label>
                                <span asp-validation-for="Fecha" class="text-danger"> </span>
                            </div>
                            <input id="boton" style="background-color: #65d1a9;" value="Registrar" type="submit" class="btn btn-success"
                                   asp-action="Editar" asp-controller="RegistrarEstadoGanado" />

                        </div>
                    </form>
                </div>
            </div>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />

}


}