@{
    ViewData["Title"] = "Home Page";
}





<div class="container">
    <div class="row">
        <div class="col-lg-4" style="">
            <ul class="list-group">
              <li class="list-group-item active" aria-current="true">Lista de Ganado</li>
              <li class="list-group-item"> icono + info </li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>


        </div>
        <div class="col-lg-8" >
           <div class="card" style="width: 100%">
              <canvas class="card-img-top" id="grafica" ></canvas>
              <!-- aca ponle el chart-->
              <div class="card-body">
              </div>
            </div>
        </div>

    </div>

    <div style="height:20px;width:100%"></div>

    <div class="row">
        <div class="col-lg-6" style="background-color:yellow">
            grid3
        </div>
        <div class="col-lg-6" style="background-color:blue">
            grid4
        </div>
    </div>
</div>
<script>
    let canva = document.getElementById("grafica").getContext("2d");
    var barColors = ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];

    var grafico = new Chart(canva, {
         options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Meses'
                            }
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 20
                            }
                        }]
                },
                title: {
                    display: true,
                    text: 'Produccion Mensual'
                }
            },
        type: "bar",
        data: {
            labels: ["Enero", "Febrero", "Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Ocubre","Noviembre","Diciembre"],
            datasets:[
                {
                    label:"Titulo",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:[2,5,8,13,1,4,5,1,12,1,4,1]
                }
            ]


        }
    })
</script>