@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success d-block" asp-action="Index" asp-controller="RegistrarGanado">Registrar Ganado</a>
<a class="btn btn-success d-block" asp-action="Index" asp-controller="RegistrarProduccion">Registrar Producción Diaria</a>
<a class="btn btn-success d-block" asp-action="" asp-controller="">Registrar Ciclo Fertilidad</a>
<a class="btn btn-success d-block" asp-action="" asp-controller="">Registrar Costos Saludo Del Ganado</a>
<a class="btn btn-success d-block" asp-action="" asp-controller="">Registrar Venta De Leche</a>
<a class="btn btn-success d-block" asp-action="" asp-controller="">Registrar Estado Ganado</a>