@{
    ViewData["Title"] = "Home Page";
}
@{
    IEnumerable<Animal> animales = ViewBag.Animales;


}
<style>
    .botonWtsp {
        position: fixed;
        width: 60px;
        height: 60px;
        line-height: 63px;
        bottom: 25px;
        right: 25px;
        background: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 35px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index: 100;
        transition: all 300ms ease;
    }

        .botonWtsp:hover {
            background: #20ba5a;
        }


</style>

<div class="container">
    <div class="row">
        
                <div class="col-lg-4" style="">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true" style="background-color: #68B2A0 !important;border-color: #68B2A0!important;">Lista de Ganado</li>
                <div class="overflow" style="height:460px; overflow-y: scroll;">
                @if (animales.Count() > 0)
                {

                    @foreach (var animal in animales)
                    {
                        <li class="list-group-item">@animal.Nombre - @animal.Raza</li>

                    }

                }
                else
                {
                    <li class="list-group-item"> No hay datos..</li>
                }

            </ul>

        </div>
       


        <div class="col-lg-8">
            <div class="card" style="width: 100%">
                <canvas class="card-img-top" id="grafica"></canvas>
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>

    <div style="height:20px;width:100%"></div>

    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true" style="background-color: #68B2A0 !important; border-color: #68B2A0!important;">Eventos Animales</li>
                 <div class="overflow" style="height:150px; overflow-y: scroll;">
                <li class="list-group-item">Vaca Lola - Vacunada</li>
                </div>
            </ul>
        </div>
        <div class="col-lg-6">
            <canvas class="card-img-top" id="grafica2"></canvas>
        </div>
    </div>
</div>
<a href="https://api.whatsapp.com/send?phone=51955516189&text=Le%20hablamos%20del%20fundo%20necesitamos%20ayuda" class="botonWtsp" target="_blank">
    <i class='bx bxl-whatsapp'></i>
</a>
<script>
    let canva = document.getElementById("grafica").getContext("2d");
    let canva2 = document.getElementById("grafica2").getContext("2d");
    var barColors = ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];

    var grafico = new Chart(canva, {
         options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Meses'
                            }
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 20
                            }
                        }]
                },
                title: {
                    display: true,
                    text: 'Produccion Mensual'
                }
            },
        type: "bar",
        data: {
            labels: ["Enero", "Febrero", "Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Ocubre","Noviembre","Diciembre"],
            datasets:[
                {
                    label:"",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:[2,5,8,13,1,4,5,1,12,1,4,1]
                }
            ]


        }
    })
    var grafico2 = new Chart(canva2, {
         options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,

                            }
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 20
                            }
                        }]
                },
                title: {
                    display: true,
                    text: 'Ganado'
                }
            },
        type: "bar",
        data: {
            labels: ["Vacas", "Toros", "Becerros"],
            datasets:[
                {
                    label:"",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:[2,5,8]
                }
            ]


        }
    })
</script>